# Python
__pycache__/
*.pyc
.venv/
venv/

# Archivos de prueba y depuración
*.xml
debug_rfaf/

# Credenciales
.env
.streamlit/secrets.toml

# Editor y sistema
.vscode/
.idea/
Thumbs.db
.DS_Store

# Archivos temporales
*.tmp
*.bak
*.log